.sort-button {
  background-color: orange;
  border: none;
  color: white;
  padding: 15px;
  margin-left: 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}
