.todo-component {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 15px;
  margin: 8px;
  border-radius: 8px;
  width: 300px;
}

.todo-text,
.todo-completed {
  padding: 10px;
}

@-moz-document url-prefix() {
  .todo-input {
    margin-top: 0px;
  }
}

.todo-input {
  margin-top: 10px;
}
.todo-completed {
  text-decoration: line-through;
}

.todo-button-box {
  margin: 5px;
}
.todo-button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  margin-inline: 8px;
}
.todo-button-edit {
  background-color: green;
  border: none;
  color: white;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}
.todo-button:hover {
  opacity: 80%;
}
.todo-button-edit:hover {
  opacity: 80%;
}
