.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-todo-button,
.cancel-edit-todo-button {
  margin-top: 5px;
  border: none;
  color: white;
  padding: 7px 6px;
  margin-left: 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

.edit-todo-button {
  background-color: #008cba;
}
.cancel-edit-todo-button {
  background-color: red;
}
