.addtodo-component {
  padding: 10px;
}

.addtodo-text {
  padding: 15px;
}
.addtodo-button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px;
  margin-left: 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

/* @media (min-width: 600px) {
  .addtodo-button:hover {
    opacity: 80%;
  }
} */
